tensorflow==2.13.1
pandas
numpy==1.24.3
seaborn
matplotlib
scikit-learn
ipykernel 
ipython 
keras==2.13.1
matplotlib 
optuna==3.6.1
optuna-dashboard==0.15.1
optuna-integration==4.0.0
python-dateutil 
scipy==1.11.4
seaborn 


